@{
    ViewData["Title"] = "Index";
}

<h1>Kuch Bhi </h1>

@*Inline Expression starts with @ *@
<h2>Time Now is :  @DateTime.Now</h2>


@*Multiline Expression*@

@{
    var s = "moj le";
    var s2 = "dont know";
}