
<h1>This is a About View</h1>

<h1>@ViewBag.vibag</h1>
<br />
<h2>@ViewData["key1"]</h2>
<br />
<h3>@TempData["key2"]</h3>
<br />
@* 
@{
    foreach (var data in (List<string>)TempData["key3"])
    {
        <h1>@data</h1>
    }
} *@